<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
            <script>
                tailwind.config= {
                    theme: {
                        extend: {
                            backgroundImage: {
                                'gradient-radial': 'radial-gradient(var(--tw-gradient-stops))',
                            }
                        }
                    }
                }
            </script>
    </head>
    <body class='min-h-screen bg-gradient-radial to-stone-900 from-violet-200 via-stone-500'> 
            <div class= 'grid grid-cols-3 items-center mix-blend-normal py-4 max-h-20 place-content-center'>
                {% comment %} 
                Start Of sidebar vvvvvvvvvvvvvvvvvvvvvvvvvvvv
                {% endcomment %}
                <div class ='col-start-1  max-w-min '> 
                    <div class ='invisible lg:visible flex rounded-2xl py-4 px-2 ml-2 mt-36 bg-stone-300 max-w-min'>
                        <ul class=' text-sm text-black-800 font-bold'>
                            <li><a href='{% url "StoreTransactions" %}'>Transactions</a></li>
                            <li><a href='http://www.google.com'>Test</a></li>
                            <li><a href='http://www.google.com'>Test</a></li>
                            <li><a href='http://www.google.com'>Test</a></li>
                            <li><a href='http://www.google.com'>Test</a></li>
                        </ul>
                    </div>
                </div> 
                {% comment %}
                End of Sidebar^^^^^^^^^^^^^^^^^^^^^^^^^

                Start of Banner vvvvvvvvvvvvvvvv
                {% endcomment %}
                <div class='flex justify-center py-36 my-12'>
                    <h1 class= ' px-8 border-stone-900 border  col-start-2 text-center bg-gradient-to-r via-stone-200 from-neutral-300   to-stone-600 justify-center text-3xl text-stone-900 rounded-lg shadow-xl font-bold '>
                        P Gammon
                    </h1>
                </div>
            </div>
            {# Start of grid #}
                <div class= ' flex items-center  justify-center place-content-center'> 
                    <div class='grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4  rounded-2xl  opacity-70 hover:opacity-80'>
                            {% for equipmentinstance in equipmentinstance_list %}
                                    <div class='hover:opacity-100 rounded-xl opacity-90 border-1 border-stone-800 bg-gradient-to-r from-stone-200 to-stone-400 via-stone-100 shadow-lg shadow-stone-900 '>
                                        <h1 class = "text-center text-3xl font-bold underline  mx-4">{{equipmentinstance.serial_number}}</h1>
                                        <h3 class= 'text-center text-lg font-bold'>{{equipmentinstance.store_location}}</h1>
                                            <h2 class= 'text-center text-lg font-bold '>{{equipmentinstance.last_transaction_date}}</h1>
                                        </div>
                                {% endfor %} 
        </div>
    </div>
        
            <script src="" async defer></script>
        
    </body>
</html>