<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Store Location</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

{% comment %}Run a basic for-loop to confirm that the foreign-key query is working correctly{% endcomment %}
    <body>
        <div class="opacity-10">
            <div>
                {% for i in Transactions %}
                    <div>
                        <strong>   Transaction ID:  </strong>         {{i.transaction_id}} <br/>
                        <strong>   Date Submitted:  </strong>         {{i.date_submitted }}<br/>
                        <strong>   Date Approved:   </strong>         {{i.date_approved }}<br/>
                        <strong>   Serial Number:   </strong>         {{i.serial_number}}<br/>
                        <strong>   Submitter:       </strong>         {{i.submitter}}<br/>
                        <strong>   Location:        </strong>         {{i.store_location }}<br />
                        <strong>   Location Status: </strong>         {{i.location_status }}<br />
                        <strong>   Equipment Status:</strong>         {{i.equipment_status }}<br />
                        <strong>   Customer ID:     </strong>         {{i.current_customer_id }}<br />
                        <strong>   Meter Hours:     </strong>         {{i.meter_hours }}<br />
                        <strong>   Next PM date:    </strong>         {{i.next_pm_date }}<br />
                        <strong>   Manager:         </strong>         {{i.manager }}<br />
                        <strong>   TID:             </strong>         {{i.transaction_id}}        
                    </div>
                {% endfor %}
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>